.chart-wrapper-plugin {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}

.doughnut-container {
    position: relative;
    display: block;
    height: 500px;
    width: 500px;
    box-sizing: border-box;
    margin-right: 50px;
}
