nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 20px;
  margin-top: 10px;
  background-color: #ffffff;
}

.nav-tab {
  width: 200px;
  padding: 10px;
  text-align: center;
  font-size: 30px;
  font-family: "Nunito", sans-serif;
  color: #333;
  text-decoration: none;
}

@supports (-webkit-text-stroke: 1px black) {
  .nav-tab:hover,
  .active {
    background: #45ca4f94;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    -webkit-text-stroke: 1px black;
    -webkit-text-fill-color: white;
  }
}

.divider {
  height: 5px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #45ca4f94;
  border-radius: 100vw;
  box-shadow: 0 6px 13px 1px rgb(34 60 80 / 20%);
}
